* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html {
    background-color: rgb(19, 19, 19);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 5px 1rem 1px rgba(255, 255, 255, 0.3);
    background-color: rgb(54, 54, 54);
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
}
