:root {
    --color-bg-primary: linear-gradient( rgba(53, 132, 212, 0.8), rgba(6, 78, 165, 0.8));
    --color-bg-secondary: rgb(255, 255, 255);
    --color-text-primary: rgb(0, 0, 0);
    --color-text-secondary: black;
    

    --color-text-accent: rgb(240, 208, 28);
    --color-shadow: 0 5px 1rem 1px rgba(0, 0, 0, 0.1);
    --color-grey: rgba(157, 172, 202, 0.6);
    --color-white: azure;
}